In [ ]:
r=float(input("Enter a number"))
a=3.14*r*r
print("area of circle is",a)

Enter a number4
area of circle is 50.24

In [ ]:
name=input("Enter a Name")
mark=float(input("Enter the mark"))
roll=int(input("Enter the rollno"))
print("Name:",name)
print("Mark:",mark)
print("Rollno:",roll)

Enter a NameArjun
Enter the mark45
Enter the rollno3
Name: Arjun
Mark: 45.0
Rollno: 3

In [ ]:
list=[12,13,47,10]
m=max(list)
print(m)

47

In [ ]:
s=0
for i in range(0,10):
  s=i+1
  sum=s+i
  print(sum)

1
3
5
7
9
11
13
15
17
19

In [ ]:
list=[20,35,60,36]
for i in list:
  if(i % 5 == 0):
    print(i,"is multiple of 5")
  else:
      print(i,"is not multiple of 5")

20 is multiple of 5
35 is multiple of 5
60 is multiple of 5
36 is not multiple of 5

In [ ]:
n=int(input("Enter an integer"))
i=2
prime=True
while(n%i==0):
  print(n,"is not a prime number")
  prime=False
  break
  i+=1
if(prime==True):
 print(n,"is  a prime number")

Enter an integer8
8 is not a prime number

In [ ]:
list=[20,30,40,60]
for i in range(3,-1,-1):
  print(list[i])

60
40
30
20

In [ ]:
for i in range(5):
  for j in range(i):
    print("*",end="")

  print('')

*
**
***
****

In [ ]:
a=int(input("Enter 1st numbers"))
b=int(input("Enter 2nd numbers"))
c=int(input("Enter 3rd numbers"))
if(a>b and a>c):
  print(a,"is bigger")
elif(b>c):
  print(b,"is bigger")
else:
  print(c, "is bigger")

Enter 1st numbers100
Enter 2nd numbers250
Enter 3rd numbers90
250 is bigger

In [ ]:
for i in range(5):
  for j in range(i):
    print("*",end="")
  print('')
for p in range(5,-1,-1):
  for k in range(p):
    print("*",end="")
  print('')

*
**
***
****
*****
****
***
**
*